* {
    padding: 0;
    margin: 0;
    font-family: ;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff00;
}

.header-block {
    height: 100vh; /* 100% of the viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282c34;
    color: white;
    font-size: 2em;
    text-align: center;
}

.animated-block {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease-out;
}

.animated-block-persistent {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease-out;
}

.blank {
    padding: 300px 0px;
    background-color: black;
}

.blank2 {
    padding: 30px 30px;
    margin: 30%;
    justify-content: center;
    background-color: wheat;
}
.show {
    opacity: 1;
    transform: translateY(0);
}

#social-media img {
    transition: transform 0.3s;
}

#social-media img:hover {
    transform: scale(1.1);
}

.main-block-title {
    justify-content: center;
    
}
