/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    background-color: #282c34;
    color: white;
}

.typewriter {
    font-size: 2em;
    white-space: nowrap;
    overflow: hidden;
    /* border-right: 0.15em solid orange; */
}

#typewriter-cursor {
    display: inline-block;
    animation: blink 1s infinite;
    border-right: 0.15em solid orange;
}

@keyframes blink {
    0%, 50% { opacity: 1; }
    50.01%, 100% { opacity: 0; }
}
